langchain_community
tiktoken
langchainhub
chromadb
langchain
langgraph
tavily-python
python-dotenv
google-genai
langchain-google-genai
langchain-groq
lanchain-nomic
langchain-text-splitters
langchain_mistralai
wikipedia
langchain_huggingface
google-search-results
faiss-cpu
sentence_transformers